{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ S3_ARN }}/static/assets/img/edit-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>Editar Post</h1>
          {% else: %}
          <h1>Nuevo Post</h1>
          {% endif %}
          <span class="subheading"
            >¡Vas a crear un gran post!</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form
            id="postForm"
            name="sentMessage"
            {% if is_edit: %}
              action="{{ url_for('edit_post', post_id=post.get('id')) }}"
            {% else: %}
              action="{{ url_for('add_post') }}"
            {% endif %}
            
            method="post"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="title"
                name="title"
                type="text"
                placeholder="Enter your title..."
                required
              {% if is_edit: %}
                value="{{ post.get('title') }}"
              {% endif %}
              />
              <label for="title">Título</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="subtitle"
                name="subtitle"
                type="text"
                placeholder="Enter your subtitle..."
                required
                {% if is_edit: %}
                value="{{ post.get('subtitle') }}"
                {% endif %}
              />
              <label for="subtitle">Subtítulo</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="image_url"
                name="image_url"
                type="url"
                placeholder="Enter your image_url..."
                required
                {% if is_edit: %}
                value="{{ post.get('image_url') }}"
                {% endif %}
              />
              <label for="image_url">Url</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="content"
                name="content"
                placeholder="Enter your message content..."
                required
                style="height: 12rem"
              >{% if is_edit: %}{{post.get('content')}}{% endif %}</textarea>
              <label for="content">Contenido</label>
            </div>
            <br />
            <button
              class="btn btn-danger text-uppercase"
              id="submitButton"
              type="submit"
            >
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
